html {/*整个网页*/
    position: relative;
    overflow: hidden !important;/*hidden 内容会被修剪，并且其余内容是不可见的。!important优先执行*/
  }
body {/*body*/
    font-family: 'Quicksand', sans-serif;/*字体quicksand和宋体*/
    padding:0;
    margin:0;

  }
/*整个网页中的内容*/
.bg{/*放内容的盒子*/
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;/*设置段落的最小高度  注：height:100vh == height:100%;
    但是有个好处是当元素没有内容时候，设置height:100%该元素不会被撑开，
    但是设置height:100vh，该元素会被撑开屏幕高度一致。*/
    position: absolute;
    z-index: 0;

    display: flex;/*Flex是Flexible Box的缩写，意为"弹性布局"，用来为盒状模型提供最大的灵活性。
    设为Flex布局以后，子元素的float、clear和vertical-align属性将失效。*/ /*https://www.jianshu.com/p/d9373a86b748*/
    justify-content: center;/*justify-content : center;元素在主轴（页面）上居中排列*/
    align-items: center;/*弹性盒子元素在该行的侧轴（纵轴）上居中放置。（居中对齐）*/
}
.background{/*深层背景*/
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: url("http://tiebapic.baidu.com/forum/pic/item/23f05fddd100baa19093b2500210b912cafc2ee9.jpg");
    background-size: 120% 120%;
    position: absolute;
    z-index: -5;/*深度设置*/

    display: flex;/*Flex是Flexible Box的缩写，意为"弹性布局"，用来为盒状模型提供最大的灵活性。
                    设为Flex布局以后，子元素的float、clear和vertical-align属性将失效。*/
    justify-content: center;/*justify-content : center;元素在主轴（页面）上居中排列*/
    align-items: center;/*弹性盒子元素在该行的侧轴（纵轴）上居中放置。（居中对齐）*/
}

.background2{/*浅层背景*/
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: url("http://tiebapic.baidu.com/forum/pic/item/066c6a10728b4710d990082786cec3fdfe0323e9.jpg");
    background-size: 120% 120%;
    position: absolute;
    z-index: -4;
}
.yinghua{/*樱花*/
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: url("img/yinghua.png");
    position: absolute;
    z-index: -1;
}



.profile{/*内容*/
    z-index: 0;
}
.logo1{/*头像盒子*/
    margin: auto;
    margin-top: -100px;
    width: 20vw;
    height: 20vw;
    /*background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    box-shadow: 0px 0px 10px #ffffff;
    */
}
.logo2{/*头像*/
    width: 20vw;
    height: 20vw;
    margin: 1px 1px;
    border-radius: 50%;/*border-radius 属性是一个简写属性，用于设置四个 border-*-radius 属性。
    border: 2px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.9);/*box-shadow 属性向框添加一个或多个阴影。*/
    /*box-shadow: h-shadow v-shadow blur spread color inset;*/
    transition: all 1s;/*变化时间 所有的1s*/
}

.logo2:hover{/*选择鼠标指针浮动在其上的元素，并设置其样式：*/
    transform: rotate(360deg);/*旋转*/
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 1);/*box-shadow 属性向框添加一个或多个阴影。*/

    transition: all 1s;/*变化时间 所有的1s*/
}

.name{/*介绍框*/
    margin-top: 5px;
    text-align: center;
    font-size: 45px;
    color: white;
    font-weight: 500;
    text-shadow: 0px 0px 12px white;
    transition: all 0.5s;
}
.name:hover{
    text-shadow: 0px 0px 30px white;
    transition: all 0.5s;
}

.introduce{/*介绍框*/
    margin: auto;
    width:80vw;
    height: 50px;
    background-color: rgba(71, 64, 64, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.8);
    text-shadow: 0px 0px 12px #ffffff;
    box-shadow: 0px 0px 12px #ffffff;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}
.introduce:hover{
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 25px #ffffff;
    transition: all 0.5s;
}

.introduce2{
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-size: 25px;
    max-width: 80vw;
}

.buttons{/*按钮盒子*/
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 80vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button1{
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
    width: 18vw;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    background-color: rgba(71, 64, 64, 0.4);
    color: white;
    font-size: 16px;
    transition: all 0.5s;
}
.button1:hover{
    background-color: rgba(255, 255, 255, 0.4);

    color: #ffffff;
    box-shadow: 0px 0px 12px #ffffff;
    transition: all 0.5s;
}

.f{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dateTime{
    width: 180px;
    height: 20px;
    color: #ffffff;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    background-color: rgba(71, 64, 64, 0.4);
    box-shadow: 0px 0px 12px #ffffff;
}


.footer{/*页脚*/
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    color:rgba(255, 255, 255, 0.8);
    font-size: 10px;
}

.footer2{
    text-align: center;
}

a{/*超链接*/
    color: rgba(255, 255, 255, 0.8);
}